.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    max-width: 34rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (min-width: 768px) { /* Equivalent to md breakpoint */
    .content-wrapper {
        flex-direction: row;
        align-items: flex-start;
    }
}

.left-panel {
    width: 50%;
    margin-bottom: 1.5rem;
    padding-right: 0;
    text-align: center;
}

@media (min-width: 768px) {
    .left-panel {
        margin-bottom: 0;
        padding-right: 1rem;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .image-container {
        margin-left: 0;
        margin-right: 0;
    }
}

.display-image{
    height: 5rem;
    width: 5rem;
    border-radius: 9999px;
}

.name {
    margin-bottom: 0.5rem;
}

.bio {
   font-size: 0.875rem; /* Equivalent to text-base */
}

.right-panel {
    width: 50%;
    text-align: center;
}

@media (min-width: 768px) {
    .right-panel {
        text-align: left;
    }
}

.sigchain-link {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sigchain-link:hover {
    text-decoration: underline;
}

.arrow-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.identities-list {
    flex-direction: column;
}
