.main-container{
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: Arial, sans-serif;
}

.main-part2-container{
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1;
}

.sig-list-left{
    background-color: green;
    float: left;
}

.chainlink-right{
    background-color: red;
    float: right;
}