.main-sig-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: row;
    font-family: Arial, sans-serif;
    
}

.main-part2-container{
    display: flex;
    height: 750px;
    width: 1300px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: yellow;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.sig-list-left{
    width: 500px;
    height: 600px;
    margin-right: 10px;
    background-color: green;
    border-radius: 0.5rem;
    padding: 2rem;
}

.chainlink-right{
    width: 500px;
    height: 600px;
    margin-left: 10px;
    background-color: red;
    border-radius: 0.5rem;
    padding: 2rem;
}

.home-link {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow-size{
    height: 2rem;
    width: 2rem;
}